.header {
  background-color: #080808;
  height: auto;
  overflow: hidden; }
  .header .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 200;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; }
    .header .overlay .sk-cube-grid {
      width: 100px;
      height: 100px;
      margin: 100px auto; }

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }
      .header .overlay .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #20845d;
        float: left;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
        .header .overlay .sk-cube-grid .sk-cube .sk-cube1,
        .header .overlay .sk-cube-grid .sk-cube .sk-cube5,
        .header .overlay .sk-cube-grid .sk-cube .sk-cube9 {
          animation-delay: 0.2s; }
        .header .overlay .sk-cube-grid .sk-cube .sk-cube2,
        .header .overlay .sk-cube-grid .sk-cube .sk-cube6 {
          animation-delay: 0.3s; }
        .header .overlay .sk-cube-grid .sk-cube .sk-cube3 {
          animation-delay: 0.4s; }
        .header .overlay .sk-cube-grid .sk-cube .sk-cube4,
        .header .overlay .sk-cube-grid .sk-cube .sk-cube8 {
          animation-delay: 0.1s; }
        .header .overlay .sk-cube-grid .sk-cube .sk-cube7 {
          animation-delay: 0s; }
  .header .hidden {
    animation: fadeout 1s; }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
  .header .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    z-index: 1;
    transition: all 0.2s; }
    .header .navbar .headerAnchor {
      width: 30px;
      height: 30px;
      position: absolute;
      transform: translateX(-100px);
      left: 0; }
      .header .navbar .headerAnchor .logo {
        width: 30px;
        height: 30px; }
    .header .navbar .navbar-list {
      display: flex;
      justify-content: flex-end;
      justify-content: space-around;
      margin: 0;
      width: 600px;
      color: #ffffff;
      list-style-type: none; }
      @media (max-width: 1000px) {
        .header .navbar .navbar-list {
          display: none;
          justify-content: normal;
          padding-top: 5%; } }
      @media (max-width: 1000px) {
        .header .navbar .navbar-list .nav-item {
          margin-bottom: 70px; } }
      .header .navbar .navbar-list .nav-item a {
        text-decoration: none;
        color: #ffffff; }
        .header .navbar .navbar-list .nav-item a:hover {
          border-bottom: 2px solid #20845d; }
    .header .navbar .mobile {
      display: flex;
      position: absolute;
      background-color: #000;
      flex-direction: column;
      top: 0;
      right: 0;
      width: 20%;
      height: 100vh;
      z-index: 999;
      padding: 10%; }
    .header .navbar .hamburger {
      background: none;
      border: 0;
      width: 40px;
      height: 40px;
      position: relative;
      margin-right: 30px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      display: none; }
      @media (max-width: 1000px) {
        .header .navbar .hamburger {
          display: flex; } }
      @media (max-width: 500px) {
        .header .navbar .hamburger {
          z-index: 9; } }
      .header .navbar .hamburger .hamburger-line {
        border-bottom: 1px solid #ffffff;
        width: 20px;
        color: #ffffff;
        background-color: #ffffff;
        position: absolute; }
        .header .navbar .hamburger .hamburger-line::before, .header .navbar .hamburger .hamburger-line::after {
          content: "";
          width: 100%;
          background-color: #ffffff;
          position: absolute;
          height: 1px;
          display: block; }
        .header .navbar .hamburger .hamburger-line::before {
          top: -5px; }
        .header .navbar .hamburger .hamburger-line::after {
          top: 5px; }
  .header .sticky {
    position: fixed;
    width: 100%;
    background-color: #000;
    z-index: 100;
    opacity: 0.9; }
    .header .sticky .headerAnchor {
      transform: translateX(50px);
      transition: transform 0.2s; }
  .header .introContainer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    position: relative; }
    .header .introContainer .intro {
      position: absolute;
      left: -15px;
      width: 800px;
      height: 800px;
      margin: 30px auto auto -200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #ffffff;
      background-color: #20845d;
      border-radius: 100%;
      animation: pulse 2s infinite; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #20845d; }
  70% {
    box-shadow: 0 0 0 100px rgba(204, 169, 44, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
      @media (min-width: 1440px) {
        .header .introContainer .intro {
          width: 1200px;
          height: 1200px;
          margin-left: -250px; } }
      @media (max-width: 1000px) {
        .header .introContainer .intro {
          background-color: rgba(32, 132, 93, 0.6);
          animation: none; } }
      @media (max-width: 500px) {
        .header .introContainer .intro {
          border-radius: 0; } }
      .header .introContainer .intro .main-heading {
        font-size: 4rem;
        margin-bottom: 0; }
        @media (min-width: 1440px) {
          .header .introContainer .intro .main-heading {
            font-size: 5rem; } }
        @media (max-width: 800px) {
          .header .introContainer .intro .main-heading {
            transform: rotate(90deg);
            position: absolute;
            left: 10%;
            font-size: 5rem;
            top: 25%; } }
        @media (max-width: 500px) {
          .header .introContainer .intro .main-heading {
            left: 8%; } }
      .header .introContainer .intro .profession-subtitle {
        font-size: 1.8rem; }
        @media (max-width: 500px) {
          .header .introContainer .intro .profession-subtitle {
            bottom: 22%;
            left: 30%; } }
        @media (max-width: 800px) {
          .header .introContainer .intro .profession-subtitle {
            position: absolute;
            bottom: 22%; } }
    .header .introContainer .background-portrait {
      margin-left: 50%;
      height: 550px;
      width: 515px; }
      @media (min-width: 1440px) {
        .header .introContainer .background-portrait {
          height: 700px;
          width: 660px; } }

.about-me {
  position: relative;
  z-index: 2;
  background-color: #f2f2f2; }
  .about-me::after {
    content: "About me";
    display: block;
    text-align: right;
    color: #ebebeb; }
  .about-me .section-header::before {
    content: "Briefly";
    font-size: 1.2rem;
    position: absolute;
    top: 25px;
    background: #20845d;
    padding-left: 25px;
    padding-right: 60px;
    left: -25px;
    color: #ffffff; }
  .about-me .about-me-container {
    display: flex;
    justify-content: center; }
    @media (max-width: 800px) {
      .about-me .about-me-container {
        flex-direction: column; } }
    .about-me .about-me-container::after {
      content: "";
      position: absolute;
      background-image: url("/assets/img/background/background-icons.png");
      height: 330px;
      width: 500px;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      right: 10%;
      top: 20px;
      opacity: 0.2;
      background-size: cover;
      z-index: 1; }
      @media (min-width: 1440px) {
        .about-me .about-me-container::after {
          right: 25%; } }
    .about-me .about-me-container .vertical-menu-container {
      display: flex;
      align-items: center;
      margin-right: 10%; }
      @media (max-width: 1000px) {
        .about-me .about-me-container .vertical-menu-container {
          display: none; } }
      .about-me .about-me-container .vertical-menu-container .about-me-list {
        margin-right: 20%;
        font-size: 16px; }
        .about-me .about-me-container .vertical-menu-container .about-me-list .list-item {
          opacity: 0.5;
          width: 110px;
          height: 20px;
          margin-bottom: 10px;
          box-sizing: border-box;
          transition: transform 0.2s; }
    .about-me .about-me-container .primary {
      transition: transform 0.2s;
      transform: scale(1.6);
      font-family: roboto-medium; }
    .about-me .about-me-container .secondary {
      transform: scale(1.3); }
  .about-me .description-box-container {
    position: relative;
    width: 60%;
    z-index: 2; }
    @media (max-width: 1000px) {
      .about-me .description-box-container {
        width: 100%; } }
    .about-me .description-box-container .description-box {
      height: 180px;
      display: block;
      background-color: #ffffff;
      padding: 10px 40px 10px 40px;
      box-shadow: 0 1px 15px 0 rgba(112, 112, 112, 0.5);
      z-index: 233;
      position: relative;
      animation: fadein 1s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      @media (max-width: 800px) {
        .about-me .description-box-container .description-box {
          display: block; } }
      @media (max-width: 1000px) {
        .about-me .description-box-container .description-box {
          margin-bottom: 20px;
          padding: 10px 20px 20px 20px; } }
      .about-me .description-box-container .description-box:after {
        content: "";
        width: 200px;
        height: 10px;
        background-color: #20845d;
        display: block;
        position: absolute;
        bottom: -5px;
        right: 5%; }
      .about-me .description-box-container .description-box .description-box-heading {
        font-family: roboto-medium, sans-serif;
        color: #959595; }
      .about-me .description-box-container .description-box .description-box-content {
        list-style-type: none;
        padding: 0; }
        @media (max-width: 1000px) {
          .about-me .description-box-container .description-box .description-box-content .description-list-item {
            display: block; } }
        .about-me .description-box-container .description-box .description-box-content .description-list-item::before {
          content: "\A";
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #20845d;
          display: inline-block;
          margin: 3px 10px; }
        .about-me .description-box-container .description-box .description-box-content .description-list-item .skills-info {
          color: #20845d; }
    .about-me .description-box-container .hide {
      display: none; }

.technologies {
  background-color: #3c3939; }
  .technologies::after {
    content: "Technologies";
    display: block;
    text-align: right;
    color: #484646;
    opacity: 0.7; }
  .technologies .section-header::before {
    content: "Used";
    font-size: 1.2rem;
    position: absolute;
    top: 25px;
    background: #20845d;
    padding-left: 25px;
    padding-right: 60px;
    left: -25px;
    color: #ffffff; }
  .technologies .technologies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto; }
    @media (max-width: 1000px) {
      .technologies .technologies-container {
        max-width: 560px; } }
    .technologies .technologies-container .card {
      text-align: center;
      border-radius: 10%;
      transition: 0.5s; }
      .technologies .technologies-container .card:hover {
        background: #20845d;
        transition: 0.2s;
        transform: scale(1.1); }
      .technologies .technologies-container .card:hover .tech-name {
        opacity: 1; }
      .technologies .technologies-container .card .tech-icon {
        padding: 35px 35px 5px 35px;
        width: 65px;
        height: 55px; }
        @media (max-width: 1000px) {
          .technologies .technologies-container .card .tech-icon {
            width: 60px;
            height: 50px; } }
        @media (max-width: 800px) {
          .technologies .technologies-container .card .tech-icon {
            padding: 40px 30px 0px 30px;
            width: 45px;
            height: 40px; } }
      .technologies .technologies-container .card .tech-name {
        max-height: 0;
        opacity: 0;
        padding-bottom: 15px;
        margin-top: 0; }

.projects {
  background-color: #f2f2f2; }
  .projects::after {
    content: "Projekty";
    display: block;
    text-align: right;
    color: #ebebeb; }
  .projects .section-header::before {
    content: "Some of my";
    font-size: 1.2rem;
    position: absolute;
    top: 25px;
    background: #20845d;
    padding-left: 25px;
    padding-right: 60px;
    left: -25px;
    color: #ffffff; }
  .projects .container {
    display: flex;
    margin-left: 0;
    width: 100%;
    justify-content: center; }
    @media (max-width: 800px) {
      .projects .container {
        flex-wrap: wrap; } }
    .projects .container .first-column,
    .projects .container .project-inner-box,
    .projects .container .right-bottom {
      background-color: #ffffff;
      box-shadow: 0 1px 15px 0 rgba(112, 112, 112, 0.5);
      transition: 0.2s; }
      .projects .container .first-column:hover,
      .projects .container .project-inner-box:hover,
      .projects .container .right-bottom:hover {
        transform: scale(1.1);
        transition: 0.2s;
        z-index: 2;
        box-shadow: 0 1px 15px 0 rgba(75, 71, 71, 0.8); }
        @media (max-width: 500px) {
          .projects .container .first-column:hover,
          .projects .container .project-inner-box:hover,
          .projects .container .right-bottom:hover {
            transform: none; } }
      .projects .container .first-column .title,
      .projects .container .project-inner-box .title,
      .projects .container .right-bottom .title {
        margin-bottom: 0;
        font-family: roboto-medium, sans-serif;
        color: #959595;
        cursor: pointer; }
      .projects .container .first-column .project-description,
      .projects .container .project-inner-box .project-description,
      .projects .container .right-bottom .project-description {
        margin-bottom: 0; }
      .projects .container .first-column .tech-set,
      .projects .container .project-inner-box .tech-set,
      .projects .container .right-bottom .tech-set {
        color: #20845d; }
    .projects .container .first-column {
      min-width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 10px;
      height: 300px;
      position: relative; }
      @media (max-width: 800px) {
        .projects .container .first-column {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px; } }
      .projects .container .first-column .img-wrapper {
        position: relative;
        z-index: 10; }
        .projects .container .first-column .img-wrapper .laptop-main {
          height: 170px; }
        .projects .container .first-column .img-wrapper::after {
          content: "";
          width: 30px;
          height: 30px;
          background-color: transparent;
          position: absolute;
          z-index: -1;
          top: -10px;
          left: -15px;
          right: auto;
          bottom: auto;
          border-radius: 50%;
          border: 10px solid #20845d; }
      .projects .container .first-column .project-title-bar {
        background-color: #20845d;
        color: #ffffff;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 50px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center; }
    .projects .container .second-column {
      height: 290px; }
      @media (max-width: 800px) {
        .projects .container .second-column {
          width: 100%; } }
      @media (max-width: 500px) {
        .projects .container .second-column {
          height: auto; } }
      .projects .container .second-column .second-top {
        display: flex;
        height: 50%; }
        @media (max-width: 500px) {
          .projects .container .second-column .second-top {
            display: block;
            height: auto; } }
        .projects .container .second-column .second-top .project-inner-box {
          display: flex;
          width: 220px;
          height: 145px;
          justify-content: center;
          align-items: center; }
          @media (max-width: 800px) {
            .projects .container .second-column .second-top .project-inner-box {
              width: 50%; } }
          @media (max-width: 500px) {
            .projects .container .second-column .second-top .project-inner-box {
              width: 100%;
              justify-content: flex-start;
              padding-left: 25px;
              box-sizing: border-box; } }
          .projects .container .second-column .second-top .project-inner-box:nth-child(1) {
            margin-right: 10px; }
            @media (max-width: 500px) {
              .projects .container .second-column .second-top .project-inner-box:nth-child(1) {
                margin-bottom: 10px; } }
          .projects .container .second-column .second-top .project-inner-box:nth-child(2) .img-wrapper:after {
            content: "";
            width: 30px;
            height: 30px;
            background-color: transparent;
            position: absolute;
            z-index: -1;
            top: auto;
            left: auto;
            right: 5px;
            bottom: -10px;
            border-radius: 50%;
            border: 10px solid #20845d; }
          .projects .container .second-column .second-top .project-inner-box .img-wrapper {
            position: relative;
            z-index: 10; }
            .projects .container .second-column .second-top .project-inner-box .img-wrapper .iphone-img {
              height: 100px;
              margin-right: 20px; }
          .projects .container .second-column .second-top .project-inner-box .project-example {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left; }
      .projects .container .second-column .right-bottom {
        height: 50%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        height: 145px; }
        .projects .container .second-column .right-bottom .laptop-img {
          height: 120px;
          padding-left: 25px;
          margin-right: 20px; }
        .projects .container .second-column .right-bottom .project-example {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left; }

.references {
  background-color: #3c3939; }
  .references::after {
    content: "References";
    display: block;
    text-align: right;
    color: #484646;
    opacity: 0.7; }
  .references .section-header::before {
    content: "Received";
    font-size: 1.2rem;
    position: absolute;
    top: 25px;
    background: #20845d;
    padding-left: 25px;
    padding-right: 60px;
    left: -25px;
    color: #ffffff; }
  @media (max-width: 800px) {
    .references .owl-item {
      margin-top: 60px;
      margin-bottom: 60px; } }
  .references .owl-item .reference-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px; }
    .references .owl-item .reference-container .reference-content {
      max-width: 800px;
      padding: 20px 0 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 80%;
      background-color: #d3d3d3; }
      @media (max-width: 1000px) {
        .references .owl-item .reference-container .reference-content {
          width: 90%; } }
      @media (max-width: 800px) {
        .references .owl-item .reference-container .reference-content {
          width: 100%; } }
      .references .owl-item .reference-container .reference-content:after {
        content: "";
        width: 200px;
        height: 10px;
        background-color: #20845d;
        display: block;
        position: absolute;
        bottom: -5px;
        right: 5%; }
      .references .owl-item .reference-container .reference-content .reference-icon-box {
        width: 100px;
        height: 100px;
        background-color: #20845d;
        border-radius: 50%;
        position: absolute;
        left: -40px;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (max-width: 1000px) {
          .references .owl-item .reference-container .reference-content .reference-icon-box {
            left: auto;
            top: -30px;
            width: 70px;
            height: 70px; } }
        .references .owl-item .reference-container .reference-content .reference-icon-box .reference-icon-img {
          width: 45px;
          height: 50px; }
          @media (max-width: 1000px) {
            .references .owl-item .reference-container .reference-content .reference-icon-box .reference-icon-img {
              width: 30px;
              height: 30px; } }
      .references .owl-item .reference-container .reference-content .referenceInnerBox {
        width: 400px; }
        @media (max-width: 800px) {
          .references .owl-item .reference-container .reference-content .referenceInnerBox {
            padding: 10px 10px; } }
        .references .owl-item .reference-container .reference-content .referenceInnerBox .nameSurname,
        .references .owl-item .reference-container .reference-content .referenceInnerBox .position {
          font-family: roboto-medium;
          color: #959595; }
  .references .owl-dots {
    text-align: center;
    padding-top: 15px; }
    .references .owl-dots button.owl-dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: inline-block;
      background: #f2f2f2;
      margin: 0 3px; }
      .references .owl-dots button.owl-dot.active {
        background-color: #20845d; }

.contact {
  background-color: #f2f2f2; }
  .contact::after {
    content: "Contact";
    display: block;
    text-align: right;
    color: #ebebeb; }
  .contact .section-header::before {
    content: "Go on!";
    font-size: 1.2rem;
    position: absolute;
    top: 25px;
    background: #20845d;
    padding-left: 25px;
    padding-right: 60px;
    left: -25px;
    color: #ffffff; }
  .contact .form-content-container {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 800px) {
      .contact .form-content-container {
        flex-wrap: wrap; } }
    .contact .form-content-container .contact-details {
      margin-right: 100px; }
      @media (max-width: 800px) {
        .contact .form-content-container .contact-details {
          margin-bottom: 50px; } }
      @media (max-width: 500px) {
        .contact .form-content-container .contact-details {
          margin-right: auto; } }
      .contact .form-content-container .contact-details .nameSurname {
        font-family: roboto-medium, sans-serif;
        color: #959595; }
      .contact .form-content-container .contact-details .details-box {
        display: flex;
        align-items: center; }
        .contact .form-content-container .contact-details .details-box .contact-icon {
          padding-right: 20px;
          width: 20px; }
        .contact .form-content-container .contact-details .details-box p {
          margin: 0;
          padding: 10px; }
    .contact .form-content-container .contact-form {
      width: 55%;
      min-width: 400px;
      position: relative; }
      @media (max-width: 800px) {
        .contact .form-content-container .contact-form {
          width: auto;
          min-width: 200px; } }
      .contact .form-content-container .contact-form:before {
        content: "";
        height: 40px;
        width: 40px;
        border: 10px solid #20845d;
        position: absolute;
        bottom: -20px;
        left: -20px;
        border-radius: 50%; }
      .contact .form-content-container .contact-form .spinning-circle-left,
      .contact .form-content-container .contact-form .spinning-circle-right {
        height: 20px;
        width: 20px;
        border: 5px solid #20845d;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 20%;
        position: absolute;
        top: -150px;
        right: 30px;
        animation: spin-left 4s linear infinite; }

@keyframes spin-left {
  100% {
    transform: rotate(-360deg); } }
        .contact .form-content-container .contact-form .spinning-circle-left:after,
        .contact .form-content-container .contact-form .spinning-circle-right:after {
          content: "";
          border: 2px solid #20845d;
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-top: -50px;
          margin-left: 20px; }
      .contact .form-content-container .contact-form .spinning-circle-right {
        animation: spin-right 15s linear infinite; }

@keyframes spin-right {
  100% {
    transform: rotate(360deg); } }
        .contact .form-content-container .contact-form .spinning-circle-right:after {
          width: 2px;
          height: 2px; }
    .contact .form-content-container .form {
      background-color: #ffffff;
      padding: 25px 50px 50px 50px;
      position: relative;
      box-shadow: 0 1px 15px 0 rgba(112, 112, 112, 0.5); }
      .contact .form-content-container .form .form-subheader {
        font-family: roboto-medium, sans-serif;
        color: #959595; }
      .contact .form-content-container .form .label {
        display: block;
        padding-top: 10px; }
        .contact .form-content-container .form .label input[type="text"],
        .contact .form-content-container .form .label input[type="email"],
        .contact .form-content-container .form .label input[type="number"],
        .contact .form-content-container .form .label .textarea {
          outline: none;
          border: none;
          font-family: roboto;
          font-size: 16px;
          border-bottom: 1px solid #000;
          width: 100%;
          color: #959595; }
      .contact .form-content-container .form .submit {
        display: block;
        position: absolute;
        bottom: -25px;
        right: 10%;
        color: #ffffff;
        background-color: #20845d;
        width: 150px;
        height: 50px;
        font-size: 18px; }

.footer {
  height: 100px;
  background-color: #3c3939;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #ffffff; }
  .footer .footer-content {
    margin: 0;
    vertical-align: center; }

@font-face {
  font-family: Roboto;
  src: url("/assets/fonts/Roboto-Thin.ttf");
  font-weight: bold; }

@font-face {
  font-family: Roboto-medium;
  src: url("/assets/fonts/Roboto-Medium.ttf");
  font-weight: bold; }

body {
  background-color: #000;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif; }
  body .about-me,
  body .technologies,
  body .projects,
  body .references,
  body .contact {
    padding: 50px 100px 0 100px; }
    @media (min-width: 1440px) {
      body .about-me,
      body .technologies,
      body .projects,
      body .references,
      body .contact {
        padding-left: 25%;
        padding-right: 25%; } }
    @media (max-width: 800px) {
      body .about-me,
      body .technologies,
      body .projects,
      body .references,
      body .contact {
        padding-left: 5%;
        padding-right: 5%; } }
    body .about-me .section-header,
    body .technologies .section-header,
    body .projects .section-header,
    body .references .section-header,
    body .contact .section-header {
      margin: 0;
      padding: 0;
      font-size: 2rem;
      position: relative;
      padding-top: 50px;
      padding-bottom: 25px;
      font-family: roboto-medium, sans-serif;
      color: #959595; }
      @media (max-width: 800px) {
        body .about-me .section-header,
        body .technologies .section-header,
        body .projects .section-header,
        body .references .section-header,
        body .contact .section-header {
          margin-left: 5%; } }
    body .about-me:after,
    body .technologies:after,
    body .projects:after,
    body .references:after,
    body .contact:after {
      font-family: roboto-medium, sans-serif; }
      @media (min-width: 62em) {
        body .about-me:after,
        body .technologies:after,
        body .projects:after,
        body .references:after,
        body .contact:after {
          font-size: 6rem; } }
      @media (max-width: 1000px) {
        body .about-me:after,
        body .technologies:after,
        body .projects:after,
        body .references:after,
        body .contact:after {
          font-size: 4rem; } }
      @media (max-width: 500px) {
        body .about-me:after,
        body .technologies:after,
        body .projects:after,
        body .references:after,
        body .contact:after {
          font-size: 3rem; } }
