.about-me {
  position: relative;
  z-index: 2;
  background-color: $grey-light;
  &::after {
    content: "About me";
    @include light-background-subheader;
  }
  .section-header::before {
    @include greenHeaderElement("Briefly");
  }
  .about-me-container {
    display: flex;
    justify-content: center;
    @include breakpoint(mobileonly) {
      flex-direction: column;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url("/assets/img/background/background-icons.png");
      height: 330px;
      width: 500px;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      right: 10%;
      top: 20px;
      opacity: 0.2;
      background-size: cover;
      z-index: 1;
      @include breakpoint(largeDesktop) {
        right: 25%;
      }
    }
    .vertical-menu-container {
      display: flex;
      align-items: center;
      margin-right: 10%;
      @include breakpoint(phablet) {
        display: none;
      }
      .about-me-list {
        margin-right: 20%;
        font-size: 16px;
        .list-item {
          opacity: 0.5;
          width: 110px;
          height: 20px;
          margin-bottom: 10px;
          box-sizing: border-box;
          transition: transform 0.2s;
        }
      }
    }
    .primary {
      transition: transform 0.2s;
      transform: scale(1.6);
      font-family: roboto-medium;
    }
    .secondary {
      transform: scale(1.3);
    }
  }
  .description-box-container {
    position: relative;
    width: 60%;
    z-index: 2;
    @include breakpoint(phablet) {
      width: 100%;
    }
    .description-box {
      display: block;
      background-color: $white;
      padding: 10px 0 10px 40px;
      box-shadow: 0 1px 15px 0 $component-shadow;
      z-index: 233;
      position: relative;
      animation: fadein 1s;
      @include fade-in-animation;
      @include breakpoint(mobileonly) {
        display: block;
      }
      @include breakpoint(phablet) {
        margin-bottom: 20px;
        padding: 10px 20px 10px 20px;
      }

      &:after {
        @include horizontal-green-bar;
      }
      .description-box-heading {
        font-family: roboto-medium, sans-serif;
        color: $secondary-text-grey;
      }
      .description-box-content {
        list-style-type: none;
        padding: 0;
        .description-list-item {
          display: flex;
          align-items: center;
          text-align: left;
          @include breakpoint(phablet) {
            display: block;
          }
          &::before {
            content: "\A";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $main-green;
            display: inline-block;
            margin: 0 10px;
          }
          .skills-info {
            color: $main-green;
          }
        }
      }
    }
    // helper class
    .hide {
      display: none;
    }
  }
}
