@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url("/assets/fonts/Roboto-Thin.ttf");
  font-weight: bold; }

@font-face {
  font-family: Roboto-medium;
  src: url("/assets/fonts/Roboto-Medium.ttf");
  font-weight: bold; }

body {
  background-color: #000;
  padding: 0;
  margin: 0;
  font-family: Roboto; }
  body .about-me,
  body .technologies,
  body .projects,
  body .references,
  body .contact {
    padding: 50px 100px 0 100px; }
    body .about-me .section-header,
    body .technologies .section-header,
    body .projects .section-header,
    body .references .section-header,
    body .contact .section-header {
      margin: 0;
      padding: 0;
      font-size: 2rem;
      position: relative;
      padding-top: 50px;
      padding-bottom: 25px;
      font-family: roboto-medium;
      color: #959595; }
      body .about-me .section-header:before,
      body .technologies .section-header:before,
      body .projects .section-header:before,
      body .references .section-header:before,
      body .contact .section-header:before {
        content: "";
        font-size: 1.2rem;
        position: absolute;
        top: 25px;
        background: #20845d;
        padding-left: 25px;
        padding-right: 60px;
        left: -25px;
        color: #ffffff; }
      @media (max-width: 800px) {
        body .about-me .section-header,
        body .technologies .section-header,
        body .projects .section-header,
        body .references .section-header,
        body .contact .section-header {
          margin-left: 5%; } }
    @media (min-width: 70em) {
      body .about-me,
      body .technologies,
      body .projects,
      body .references,
      body .contact {
        padding-left: 20%;
        padding-right: 20%; } }
    @media (min-width: 90em) {
      body .about-me,
      body .technologies,
      body .projects,
      body .references,
      body .contact {
        padding-left: 25%;
        padding-right: 25%; } }
    @media (max-width: 800px) {
      body .about-me,
      body .technologies,
      body .projects,
      body .references,
      body .contact {
        padding-left: 5%;
        padding-right: 5%; } }
    body .about-me:after,
    body .technologies:after,
    body .projects:after,
    body .references:after,
    body .contact:after {
      font-family: roboto-medium; }
      @media (min-width: 70em) {
        body .about-me:after,
        body .technologies:after,
        body .projects:after,
        body .references:after,
        body .contact:after {
          font-size: 8rem; } }
      @media (min-width: 62em) {
        body .about-me:after,
        body .technologies:after,
        body .projects:after,
        body .references:after,
        body .contact:after {
          font-size: 6rem; } }
      @media (max-width: 1000px) {
        body .about-me:after,
        body .technologies:after,
        body .projects:after,
        body .references:after,
        body .contact:after {
          font-size: 4rem; } }
      @media (max-width: 500px) {
        body .about-me:after,
        body .technologies:after,
        body .projects:after,
        body .references:after,
        body .contact:after {
          font-size: 3rem; } }
  body .header {
    background-color: #080808;
    height: auto;
    overflow: hidden; }
    body .header .navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 50px;
      z-index: 1;
      transition: all 0.2s; }
      body .header .navbar .logo {
        width: 30px;
        height: 30px;
        position: absolute;
        transform: translateX(-100px);
        left: 0; }
      body .header .navbar .navbar-list {
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
        margin: 0;
        width: 600px;
        color: #ffffff;
        list-style-type: none; }
        @media (max-width: 1000px) {
          body .header .navbar .navbar-list {
            display: none; } }
      body .header .navbar .mobile {
        display: flex;
        position: absolute;
        background-color: #000;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 20%;
        height: 100vh;
        z-index: 999; }
      body .header .navbar .hamburger {
        background: none;
        border: 0;
        width: 40px;
        height: 40px;
        position: relative;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        display: none; }
        body .header .navbar .hamburger .hamburger-line {
          border-bottom: 1px solid #ffffff;
          width: 20px;
          color: #ffffff;
          background-color: #ffffff;
          position: absolute; }
          body .header .navbar .hamburger .hamburger-line::before, body .header .navbar .hamburger .hamburger-line::after {
            content: "";
            width: 100%;
            background-color: #ffffff;
            position: absolute;
            height: 1px;
            display: block; }
          body .header .navbar .hamburger .hamburger-line::before {
            top: -5px; }
          body .header .navbar .hamburger .hamburger-line::after {
            top: 5px; }
        @media (max-width: 1000px) {
          body .header .navbar .hamburger {
            display: flex; } }
    body .header .sticky {
      position: fixed;
      width: 100%;
      background-color: #000;
      z-index: 100;
      opacity: 0.9; }
      body .header .sticky .logo {
        transform: translateX(50px);
        transition: transform 0.2s; }
    body .header .introContainer {
      display: flex;
      justify-content: center;
      justify-content: space-around;
      align-items: center;
      position: relative; }
      body .header .introContainer .intro {
        position: absolute;
        left: -15px;
        width: 800px;
        height: 800px;
        margin-left: -200px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #ffffff;
        background-color: #20845d;
        border-radius: 100%;
        animation: pulse 2s infinite; }
        @media (min-width: 90em) {
          body .header .introContainer .intro {
            width: 1200px;
            height: 1200px;
            margin-left: -250px; } }
        @media (max-width: 1000px) {
          body .header .introContainer .intro {
            background-color: rgba(32, 132, 93, 0.6); } }
        body .header .introContainer .intro .main-heading {
          font-size: 4rem;
          margin-bottom: 0; }
          @media (min-width: 90em) {
            body .header .introContainer .intro .main-heading {
              font-size: 5rem; } }
          @media (max-width: 800px) {
            body .header .introContainer .intro .main-heading {
              transform: rotate(90deg);
              position: absolute;
              left: 10%;
              font-size: 5rem;
              top: 25%; } }
        body .header .introContainer .intro .profession-subtitle {
          font-size: 1.8rem; }
          @media (max-width: 800px) {
            body .header .introContainer .intro .profession-subtitle {
              position: absolute;
              bottom: 20%; } }
        @media (max-width: 1000px) {
          body .header .introContainer .intro {
            animation: none; } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #20845d; }
  70% {
    box-shadow: 0 0 0 100px rgba(204, 169, 44, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
      body .header .introContainer .background-portrait {
        margin-left: 50%;
        height: 550px;
        width: 510px; }
        @media (min-width: 90em) {
          body .header .introContainer .background-portrait {
            height: 700px;
            width: 660px; } }
  body .about-me {
    position: relative;
    z-index: 2;
    background-color: #f2f2f2; }
    body .about-me::after {
      content: "O mnie";
      display: block;
      text-align: right;
      color: #ebebeb; }
    body .about-me .section-header::before {
      content: "Krótko"; }
    body .about-me .about-me-container {
      display: flex;
      justify-content: center; }
      @media (max-width: 800px) {
        body .about-me .about-me-container {
          flex-direction: column; } }
      body .about-me .about-me-container::after {
        content: "";
        position: absolute;
        background-image: url("/assets/img/background/background-icons.png");
        height: 330px;
        width: 500px;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        right: 10%;
        top: 20px;
        opacity: 0.2;
        background-size: cover;
        z-index: 1; }
        @media (min-width: 90em) {
          body .about-me .about-me-container::after {
            right: 25%; } }
      body .about-me .about-me-container .vertical-menu-container {
        display: flex;
        align-items: center;
        margin-right: 10%; }
        body .about-me .about-me-container .vertical-menu-container .about-me-list {
          margin-right: 20%;
          font-size: 20px; }
          body .about-me .about-me-container .vertical-menu-container .about-me-list .list-item {
            opacity: 0.5;
            transition: font-size 0.2s;
            width: 60px;
            height: 20px;
            margin-bottom: 10px;
            box-sizing: border-box; }
            body .about-me .about-me-container .vertical-menu-container .about-me-list .list-item:hover {
              font-size: 1.6rem;
              transition: font-size 0.2s;
              opacity: 1; }
        @media (max-width: 1000px) {
          body .about-me .about-me-container .vertical-menu-container {
            display: none; } }
    body .about-me .description-box-container {
      position: relative;
      width: 60%;
      z-index: 2; }
      body .about-me .description-box-container .description-box {
        display: block;
        background-color: #ffffff;
        padding: 10px 0 10px 40px;
        box-shadow: 0 1px 15px 0 rgba(112, 112, 112, 0.5);
        animation: fadein 1s;
        z-index: 233;
        position: relative; }
        body .about-me .description-box-container .description-box:after {
          content: "";
          width: 200px;
          height: 10px;
          background-color: #20845d;
          display: block;
          position: absolute;
          bottom: -5px;
          right: 5%; }
        body .about-me .description-box-container .description-box .description-box-content {
          list-style-type: none;
          padding: 0; }
          body .about-me .description-box-container .description-box .description-box-content .description-list-item {
            display: flex;
            align-items: center; }
            body .about-me .description-box-container .description-box .description-box-content .description-list-item::before {
              content: "\A";
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: #20845d;
              display: inline-block;
              margin: 0 10px; }
        @media (max-width: 800px) {
          body .about-me .description-box-container .description-box {
            display: block; } }
        @media (max-width: 1000px) {
          body .about-me .description-box-container .description-box {
            margin-bottom: 20px; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      body .about-me .description-box-container .hide {
        display: none; }
      @media (max-width: 1000px) {
        body .about-me .description-box-container {
          width: 100%; } }
  body .technologies {
    background-color: #3c3939; }
    body .technologies::after {
      content: "Technologie";
      display: block;
      text-align: right;
      color: #484646;
      opacity: 0.7; }
    body .technologies .section-header::before {
      content: "Wykorzystywane"; }
    body .technologies .technologies-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 700px;
      margin: 0 auto; }
      @media (max-width: 1000px) {
        body .technologies .technologies-container {
          max-width: 560px; } }
      body .technologies .technologies-container .card {
        text-align: center;
        border-radius: 10%;
        transition: 0.5s; }
        body .technologies .technologies-container .card:hover {
          background: #20845d;
          transition: 0.2s;
          transform: scale(1.1); }
        body .technologies .technologies-container .card:hover .tech-name {
          opacity: 1; }
        body .technologies .technologies-container .card .tech-icon {
          padding: 35px 35px 5px 35px;
          width: 65px;
          height: 55px; }
          @media (max-width: 1000px) {
            body .technologies .technologies-container .card .tech-icon {
              width: 60px;
              height: 50px; } }
          @media (max-width: 800px) {
            body .technologies .technologies-container .card .tech-icon {
              padding: 40px 30px 0px 30px;
              width: 45px;
              height: 40px; } }
        body .technologies .technologies-container .card .tech-name {
          max-height: 0;
          opacity: 0;
          padding-bottom: 15px;
          margin-top: 0; }
  body .projects {
    background-color: #f2f2f2; }
    body .projects::after {
      content: "Projekty";
      display: block;
      text-align: right;
      color: #ebebeb; }
    body .projects .section-header::before {
      content: "Zrealizowane"; }
    body .projects .container {
      display: flex;
      margin-left: 0;
      width: auto;
      width: 100%;
      justify-content: center; }
      @media (max-width: 800px) {
        body .projects .container {
          flex-wrap: wrap; } }
      body .projects .container .left,
      body .projects .container .project-inner-box,
      body .projects .container .right-bottom {
        background-color: #ffffff;
        box-shadow: 0 1px 15px 0 rgba(112, 112, 112, 0.5);
        transition: 0.2s; }
        body .projects .container .left:hover,
        body .projects .container .project-inner-box:hover,
        body .projects .container .right-bottom:hover {
          transform: scale(1.1);
          transition: 0.2s;
          z-index: 2;
          box-shadow: 0 1px 15px 0 rgba(75, 71, 71, 0.8);
          cursor: pointer; }
        body .projects .container .left .title,
        body .projects .container .project-inner-box .title,
        body .projects .container .right-bottom .title {
          margin-bottom: 0;
          font-family: roboto-medium;
          color: #9f9f9f; }
        body .projects .container .left .project-description,
        body .projects .container .project-inner-box .project-description,
        body .projects .container .right-bottom .project-description {
          margin-bottom: 0; }
        body .projects .container .left .tech-set,
        body .projects .container .project-inner-box .tech-set,
        body .projects .container .right-bottom .tech-set {
          color: #20845d; }
      body .projects .container .left {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 10px;
        height: 300px;
        position: relative; }
        @media (max-width: 800px) {
          body .projects .container .left {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px; } }
        body .projects .container .left .img-wrapper {
          position: relative;
          z-index: 10; }
          body .projects .container .left .img-wrapper img {
            height: 170px; }
          body .projects .container .left .img-wrapper::after {
            content: "";
            height: 40px;
            width: 40px;
            border: 10px solid #20845d;
            position: absolute;
            border-radius: 50%;
            left: 10px;
            top: -20px;
            z-index: -1; }
        body .projects .container .left .project-title-bar {
          background-color: #20845d;
          color: #ffffff;
          width: 100%;
          position: absolute;
          bottom: 0;
          height: 50px;
          vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center; }
      body .projects .container .right {
        height: 290px; }
        @media (max-width: 800px) {
          body .projects .container .right {
            width: 100%; } }
        @media (max-width: 500px) {
          body .projects .container .right {
            height: auto; } }
        body .projects .container .right .right-top {
          display: flex;
          height: 50%; }
          @media (max-width: 500px) {
            body .projects .container .right .right-top {
              display: block;
              height: auto; } }
          body .projects .container .right .right-top .project-inner-box {
            display: flex;
            width: 220px;
            justify-content: center;
            align-items: center;
            height: 145px; }
            body .projects .container .right .right-top .project-inner-box:nth-child(1) {
              margin-right: 10px; }
              body .projects .container .right .right-top .project-inner-box:nth-child(1) ::after {
                display: none; }
              @media (max-width: 500px) {
                body .projects .container .right .right-top .project-inner-box:nth-child(1) {
                  margin-bottom: 10px; } }
            @media (max-width: 800px) {
              body .projects .container .right .right-top .project-inner-box {
                width: 50%; } }
            @media (max-width: 500px) {
              body .projects .container .right .right-top .project-inner-box {
                width: 100%;
                justify-content: flex-start;
                padding-left: 25px;
                box-sizing: border-box; } }
            body .projects .container .right .right-top .project-inner-box .img-wrapper {
              position: relative;
              z-index: 10; }
              body .projects .container .right .right-top .project-inner-box .img-wrapper::after {
                content: "";
                width: 30px;
                height: 30px;
                background-color: transparent;
                position: absolute;
                z-index: -1;
                top: -10px;
                left: -15px;
                border-radius: 50%;
                border: 10px solid #20845d; }
              body .projects .container .right .right-top .project-inner-box .img-wrapper .iphone-img {
                height: 100px;
                margin-right: 20px; }
              @media (max-width: 500px) {
                body .projects .container .right .right-top .project-inner-box .img-wrapper {
                  z-index: 10; } }
            body .projects .container .right .right-top .project-inner-box .project-example {
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: left; }
        body .projects .container .right .right-bottom {
          height: 50%;
          margin-top: 10px;
          display: flex;
          align-items: center;
          height: 145px; }
          body .projects .container .right .right-bottom .laptop-img {
            height: 120px;
            padding-left: 25px;
            margin-right: 20px; }
          body .projects .container .right .right-bottom .project-example {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left; }
  body .references {
    background-color: #3c3939; }
    body .references::after {
      content: "Referencje";
      display: block;
      text-align: right;
      color: #484646;
      opacity: 0.7; }
    body .references .section-header::before {
      content: "Otrzymane"; }
    body .references .reference-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px; }
      body .references .reference-container .reference-content {
        max-width: 800px;
        padding: 40px 0 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 80%;
        background-color: #d3d3d3; }
        @media (max-width: 1000px) {
          body .references .reference-container .reference-content {
            width: 90%; } }
        @media (max-width: 800px) {
          body .references .reference-container .reference-content {
            width: 100%; } }
        body .references .reference-container .reference-content:after {
          content: "";
          width: 200px;
          height: 10px;
          background-color: #20845d;
          display: block;
          position: absolute;
          bottom: -5px;
          right: 5%; }
        body .references .reference-container .reference-content .reference-icon {
          width: 100px;
          height: 100px;
          background-color: #20845d;
          border-radius: 50%;
          position: absolute;
          left: -40px; }
          @media (max-width: 1000px) {
            body .references .reference-container .reference-content .reference-icon {
              left: auto;
              top: -30px;
              width: 70px;
              height: 70px; } }
        body .references .reference-container .reference-content .referenceInnerBox {
          width: 400px; }
          @media (max-width: 800px) {
            body .references .reference-container .reference-content .referenceInnerBox {
              padding: 10px 10px; } }
    body .references .owl-dots {
      text-align: center;
      padding-top: 15px; }
      body .references .owl-dots button.owl-dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        background: #f2f2f2;
        margin: 0 3px; }
        body .references .owl-dots button.owl-dot.active {
          background-color: #20845d; }
  body .contact {
    background-color: #f2f2f2; }
    body .contact::after {
      content: "Kontakt";
      display: block;
      text-align: right;
      color: #ebebeb; }
    body .contact .section-header::before {
      content: "Śmiało,"; }
    body .contact .form-content-container {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 800px) {
        body .contact .form-content-container {
          flex-wrap: wrap; } }
      body .contact .form-content-container .contact-details {
        margin-right: 100px; }
        @media (max-width: 800px) {
          body .contact .form-content-container .contact-details {
            margin-bottom: 50px; } }
        @media (max-width: 500px) {
          body .contact .form-content-container .contact-details {
            margin-right: auto; } }
        body .contact .form-content-container .contact-details .details-box {
          display: flex;
          align-items: center; }
          body .contact .form-content-container .contact-details .details-box img {
            padding-right: 20px;
            width: 20px; }
          body .contact .form-content-container .contact-details .details-box p {
            margin: 0;
            padding: 10px; }
      body .contact .form-content-container .contact-form {
        width: 55%;
        min-width: 400px;
        position: relative; }
        body .contact .form-content-container .contact-form:before {
          content: "";
          height: 40px;
          width: 40px;
          border: 10px solid #20845d;
          position: absolute;
          bottom: -20px;
          left: -20px;
          border-radius: 50%; }
        @media (max-width: 800px) {
          body .contact .form-content-container .contact-form {
            width: auto;
            min-width: 200px; } }
        body .contact .form-content-container .contact-form .spinning-circle-left,
        body .contact .form-content-container .contact-form .spinning-circle-right {
          height: 20px;
          width: 20px;
          border: 5px solid #20845d;
          border-radius: 50%;
          margin: 0 auto;
          margin-top: 25%;
          position: absolute;
          top: -150px;
          right: 30px;
          animation: spin-left 4s linear infinite; }
          body .contact .form-content-container .contact-form .spinning-circle-left:after,
          body .contact .form-content-container .contact-form .spinning-circle-right:after {
            content: "";
            border: 2px solid #20845d;
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-top: -50px;
            margin-left: 20px; }
        body .contact .form-content-container .contact-form .spinning-circle-right {
          animation: spin-right 15s linear infinite; }
          body .contact .form-content-container .contact-form .spinning-circle-right:after {
            width: 2px;
            height: 2px; }

@keyframes spin-right {
  100% {
    transform: rotate(360deg); } }

@keyframes spin-left {
  100% {
    transform: rotate(-360deg); } }
        body .contact .form-content-container .contact-form .phone-input {
          width: auto; }
        body .contact .form-content-container .contact-form .mail-input {
          width: 60%; }
      body .contact .form-content-container .form {
        background-color: #ffffff;
        padding: 25px 50px 50px 50px;
        position: relative;
        box-shadow: 0 1px 15px 0 rgba(112, 112, 112, 0.5); }
        body .contact .form-content-container .form .form-subheader {
          font-family: roboto-medium;
          color: #959595; }
        body .contact .form-content-container .form .label input[type="text"] {
          outline: none;
          border: none;
          padding-top: 25px;
          border-bottom: 1px solid #000;
          width: 100%; }
        body .contact .form-content-container .form .labels-wrapper {
          border-bottom: 1px solid #000; }
          @media (max-width: 800px) {
            body .contact .form-content-container .form .labels-wrapper {
              border-bottom: none; } }
          body .contact .form-content-container .form .labels-wrapper input[type="text"] {
            outline: none;
            border: none;
            padding-top: 25px; }
            @media (max-width: 800px) {
              body .contact .form-content-container .form .labels-wrapper input[type="text"] {
                border-bottom: 1px solid #000;
                width: 100%; } }
        body .contact .form-content-container .form .submit {
          display: block;
          position: absolute;
          bottom: -25px;
          right: 10%;
          color: #ffffff;
          background-color: #20845d;
          width: 150px;
          height: 50px;
          font-size: 18px; }
  body .footer {
    height: 100px;
    background-color: #3c3939;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ffffff; }
    body .footer .footer-content {
      margin: 0;
      vertical-align: center; }
