//COLORS VARIABLES
$main-green: #20845d;
$background-dark: #3c3939;
$grey-light: #f2f2f2;
$white: #ffffff;
$black: #000;
$header-black: #080808;
$main-green-opacity: rgba(32, 132, 93, 0.6);
$secondary-grey: #d3d3d3;
$secondary-text-grey: #959595;
// SHADOWS VARIABLES
$component-shadow: rgba(112, 112, 112, 0.5);
$component-shadow-dark: rgba(75, 71, 71, 0.8);
//MIXINS

// Background section sub-header
@mixin light-background-subheader {
  display: block;
  text-align: right;
  color: #ebebeb;
}
@mixin dark-background-subheader {
  display: block;
  text-align: right;
  color: #484646;
  opacity: 0.7;
}
@mixin pulse-animation {
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 $main-green;
    }
    70% {
      box-shadow: 0 0 0 100px rgba(204, 169, 44, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
}
@mixin spin-right-animation {
  @keyframes spin-right {
    100% {
      transform: rotate(360deg);
    }
  }
}
@mixin spin-left-animation {
  @keyframes spin-left {
    100% {
      transform: rotate(-360deg);
    }
  }
}
@mixin fade-in-animation {
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@mixin fade-out-animation {
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
@mixin horizontal-green-bar {
  content: "";
  width: 200px;
  height: 10px;
  background-color: $main-green;
  display: block;
  position: absolute;
  bottom: -5px;
  right: 5%;
}
@mixin circular-green-border(
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto
) {
  content: "";
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  z-index: -1;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  border-radius: 50%;
  border: 10px solid $main-green;
}

// RWD breakpoint mixin
@mixin breakpoint($point) {
  @if $point == largeDesktop {
    @media (min-width: 90em) {
      @content;
    }
  }
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 62em) {
      @content;
    }
  } @else if $point == phablet {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 800px) {
      @content;
    }
  } @else if $point == smallMobile {
    @media (max-width: 500px) {
      @content;
    }
  } @else if($point == phabletLandscape) {
    @media (max-width: 1000px) and (orientation: landscape) {
      @content;
    }
  }
}
